<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Mobile number:</strong>
    <%= user.mobile_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Profile photo:</strong>
    <%= user.profile_photo %>
  </p>

</div>
